body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #3498db;
  color: #fff;
  text-align: center;
  padding: 20px;
}

#search-section {
  text-align: center;
  margin: 20px 0;
}

form {
  display: inline-block;
}

label {
  margin-right: 10px;
}

button {
  background-color: #2ecc71;
  color: #fff;
  padding: 5px 10px;
  cursor: pointer;
}
  
#current-weather,
#forecast,
#search-history {
  margin: 20px 0;
}

/* Style for the current weather information */
#current-weather {
  background-color: #ecf0f1;
  padding: 20px;
  border-radius: 10px;
}

/* Style for the 5-day forecast information */
#forecast {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .forecast-day {
    background-color: #ecf0f1;
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
  }
  
  /* Style for the search history */
  #search-history {
    background-color: #ecf0f1;
    padding: 20px;
    border-radius: 10px;
  }


  


